<% provide(:title,"Sign Up") %>
<h1 class="center">Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |u| %>
        <%= render 'shared/error_messages',object: u.object%>
        <div>
          <%= u.label :name%>
          <%= u.text_field :name,placeholder:"Your name"%>
        </div>
        <div>
          <%= u.label :email%>
          <%= u.text_field :email,placeholder:"Your email"%>
        </div>
        <div>
          <%= u.label :password%>
          <%= u.password_field :password, placeholder:"Your password"%>
        </div>
        <div>
          <%= u.label :password_confirmation%>
          <%= u.password_field :password_confirmation, placeholder:"Re-type your password"%>
          <%= u.hidden_field :role %>
        </div>
        <%= u.submit "Create my account", class:"btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>