<div class='container-fluid'>
  <div class='col-sm-6 col-sx-12'>
    <h3 class='title'>
      <%= category.name %>
    </h3>
    <p>
      <%= category.description %>
    </p>
    <%= form_tag(lessons_path, method: 'post') do %>
      <%= button_tag 'Start',class:'btn btn-large btn-primary' %>
      <%= hidden_field_tag 'category_id', category.id %>
    <% end %>
  </div>
  <div class='col-sm-6 col-sx-12'>
    <%= image_tag category.thumbnail, width:'100%' %>
  </div>
</div>