<%= form_for [:admin,@user] do |f| %>
  <%= render 'shared/error_message', object: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :remember_token %><br>
    <%= f.text_field :remember_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
