<% provide(:title, @user.name)%>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h3>
        <%= gravatar_for @user,:size=>"100" %>
        <%= @user.name %>
      </h3>
      <% if current_user?(@user) %>
          <%= link_to 'Edit',edit_user_path(@user)%>
          <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
          <div class="user_avatars">
            <% @users.each do |user| %>
                <%= link_to gravatar_for(user,size:30),user %>
            <% end %>
          </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if signed_in? %>

    <% if @user.entries.any? %>
        <h3><%= @user.name %>'s post: <%= pluralize(@user.entries.count,"entry","entries") %></h3>
        <ol class="entries">
          <%= render @entries %>
        </ol>
        <%= will_paginate @entries %>
    <%end%>
  </div>
  <div>
    <p id="notice"><%= notice %></p>